---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<div class='m-5 flex flex-col items-center'>
		<div class=' p-5 max-w-4xl rounded-3xl'>
		  <div class='p-3'>
			Welcome to my website! Here, you'll find information about my various projects and
			interests. As a software engineer with a passion for creating elegant solutions and solve
			complex problems, I'm always exploring new technologies and experimenting with different
			approaches to development.
		  </div>
		  <div class='p-3'>
			From 3D printing and electronics to analog photography and software development including
			games, I enjoy working on a wide range of projects. This website serves as a portfolio of
			my work, showcasing some of the projects I've completed and the skills I've developed
			along the way.
		  </div>
		  <div class='p-3'>
			I'm always looking for new challenges and opportunities to learn, so if you have a project
			in mind or just want to connect and share ideas, please don't hesitate to get in touch.
			Thanks for visiting, and I hope you enjoy exploring my website!
		  </div>
		</div>
	</div>
</MainLayout>
